.layout {
  animation: hello ease-out 0.3s;
  width: 100%;
  padding-block-start: 0;
  padding-block-end: 0;
  margin: 0 auto;

  &.home {
    padding: 7rem 0;
    background-image: url('/background.svg');
    background-size: 1000px;
    background-position-y: -500px;
    background-position-x: center;
    background-repeat: no-repeat;
  }
}

@keyframes hello {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}